<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<th:block layout:fragment="css">
    <style>
        .content{
            margin-top:7%;
            text-align : center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li{
            margin-top: 5px;
        }

        table{
            border-collapse: collapse;
            width: 100%;
            height: 330px;
        }
        .card {
            backface-visibility: visible;
            box-shadow: 0 3px 5px -1px rgb(0, 0, 0, .2),
            0 5px 8px 0 rgb(0, 0, 0, .2),
            0 1px 14px 0 rgb(0, 0, 0, .2);
        }

        .img_box {
            height: 70%;
            border-bottom: 1px solid;
        }

        .page_area{
            margin-top: 7%;
        }

        .title{
            margin-bottom: 20px;
        }
        .title > h3{
            font-weight: bold;
        }

        .menu_box{
            text-align: right;
        }

        .create-btn{
            width: 80px;
        }
        .card{
            margin-top: 15px;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="container">
        <div class="content">
            <div class="title">
                <h3>갤러리 리스트</h3>
            </div>
            <div class="menu_box" th:if="${session.userInfo.getUserAuth() == 'ADMIN'}">
                <button class="btn btn-info create-btn" onclick="openAdd('add');" >등록</button>
                <button class="btn btn-primary create-btn" onclick="openUpdate('update');" >수정</button>
                <button class="btn btn-danger create-btn" onclick="delGallery();" >삭제</button>
            </div>
            <div id="list">
                <input type="hidden" id="nowPage" name="nowPage" value="0"/>
                <div class="row">
                    <!--한줄 에 4개씩 이미지 보이도록 -->
                    <div class="col-3">
                        <div class="card">
                            <table>
                                <tr class="img_box">
                                    <td>이미지</td>
                                </tr>
                                <tr class="txt_box">
                                    <td class="txt_const">
                                        <ul>
                                            <li class="txt_title">제목</li>
                                            <li class="txt_sub">저자 | 조회수</li>
                                            <li class="btn_area">
                                                <button class="btn btn-primary btn-block">보기</button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page_area">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pageArea">

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- 추가 모달 위치 -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">갤러리 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addFrm">
                        <ul>
                            <li>
                                <label for="gallTitle">제목</label>
                                <input type="text" class="form-control" id="gallTitle" name="gallTitle">
                            </li>
                            <li>
                                <label for="gallTitle">이미지파일</label>
                                <input type="file" class="form-control" id="file" name="file">
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="saveGallery();">저장</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //세이브 타입
        let saveType = 'add';

        function getListData(){
            const param ={
                nowPage : $('#nowPage').val()
            }
            $.ajax({
                url: '/api/v1/gall',
                type: 'GET',
                dataType: 'json',
                params: param
            }).done(function(response){
                drawGalleryList(response);
            }).fail(function(xhr, status, error){
                console.log(error);
            });
        }
        //실제 페이지 그려지는 부분
        function drawGalleryList(response){
            console.log(response);
            const row = $('.row');
            row.empty(); //기존내용 삭제


            $.each(response.galleryList, function(index,obj){
                const btnId = 'btn_' +obj.gallId;
                let html = ` <div class="col-4">
                        <div class="card">
                            <table>
                                <tr>
                                    <td style="text-align: left; padding-left: 10px" >
                                        <input type="checkbox" id="@@chkId@@" name="img_chk" value="@@chkValue@@">
                                    </td>
                                </tr>
                                <tr class="img_box">
                                    <td>
                                         <img src="@@imageURL@@" alt="@@title@@">
                                     </td>
                                </tr>
                                <tr class="txt_box">

                                    <td class="txt_const">
                                        <ul>
                                            <li class="txt_title">@@title@@</li>
                                            <li class="txt_sub">@@writer@@ | @@count@@</li>
                                            <li class="btn_area">
                                                <button class="btn btn-primary btn-block" id="@@btn@@">보기</button>
                                                <input type="hidden" id="originFileName" value="@@origin@@"/>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>`;

                const path ='/gallery/images/thumb/' + obj.file.fileThumbName;
           //     const originalPath = '/gallery/images/'  + obj.file.fileStoredName;
                const title = obj.gallTitle;
                const count = obj.gallCount;
                const writer = obj.gallWriter;
                const chkId = 'chk_' + obj.gallId;
                const chkValue = obj.gallId;

                <!-- replace와 replaceAll의 차이는 중복을 title의 모든 값이 되는지 바뀌어지는지 아닌지의 차이-->
                html = html.replaceAll("@@imageURL@@", path)
                html = html.replaceAll("@@title@@", title)
                html = html.replaceAll("@@writer@@", writer)
                html = html.replaceAll("@@count@@", count)
                html = html.replaceAll("@@btn@@", btnId)
                html = html.replaceAll("@@chkId@@", chkId)
                html = html.replaceAll("@@chkValue@@", chkValue)

                row.append(html);

                //버튼 이벤트 만들기

                //btnId이것도 조심
                $('#'+btnId).on('click', function(e) {
                    console.log(this);
                });


            });
            const pageArea =  $('#pageArea');
            pageArea.empty();
            pageArea.append(response.pageHtml);
            pageArea.val(response.nowPage);


        }


        function openAdd(type){
            saveType = type;
            showModal('');

        }

        function openUpdate(type){
            saveType = type;
            const imgChks = $('input[name="img_chk"]:checked');//input에 img_chk가 되어있는것만 가져오라는 뜻

            if (imgChks.length !== 1) {
                alert('수정할 이미지 하나만 선택하십시오');
                return false;
            }
            const title = imgChks.parent().parent().parent().find('.txt_title').text();
            showModal(title);
        }

        function showModal(text){
            const modal= $('#addModal');

            //업데이트 일때만 제목을 찾아서 input 창에 써주기
            modal.on('shown.bs.modal', function(event){
                $('#gallTitle').val(text);
            })

            //모달창 사라질때 선택한 내용 없애기
            modal.on('hide.bs.modal', function(event){
                $('#gallTitle').val('');
                $('#file').val('');
            })
            modal.modal('show');
        }

        function validated() {
            const title = $('#gallTitle');
            const fileObj = $('#file');

            if($.trim(title.val()).length === 0) {
                alert('제목을 입력하십시오.');
                title.focus();
                return false;
            }

            if(saveType === 'add' && $.trim(fileObj.val()).length === 0) {
                alert('업로드할 이미지를 선택하십시오.');
                return false;
            }

            if ($.trim(fileObj.val()).length > 0) {
                //확장자 체크
                const fileName = fileObj.val();
                const filArray = fileName.split('.');
                const ext =  filArray.pop(); // 배열의 마지막요소를 반환하고 배열에서 삭제
                const images = ['jpg', 'jpeg','png','gif','bmp','ico'];

                //비교대상이 배열의 요소와 동일한게 있는지 검사 $.inArray(대상, 검색배열)  없으면 -1
                if($.inArray(ext, images) === -1){
                    alert('이미지 파일만 선택 가능합니다.');
                    return false;
                }
                return true;
            }
        }

        function saveGallery(){

            if(validated()) {
                //저장 시작
                //파일을 포함한 데이터를 전송할 경우 FormData 객체로 전송해야한다.
                //form 객체 가져오기
                const formObj = $('#addFrm')[0]; // 객체내용을 배열로 주기때문에 첫번째 내용가져오면됨.
                //formData 객체를 생성할 때 생성자에 form 객체를 넣어주면 알아서 form 내용이 key, value 로 세팅
                const formData = new FormData(formObj);
                let resultMsg = '생성';

                if (saveType ==='update'){
                    const imgChk = $('input[name="img_chk"]:checked');
                    formData.append("gallId", imgChk.val());
                    resultMsg = '수정';
                }
                // 파일을 포함한 데이터 전송 ajax 세팅
                // 기본 전송 타입과 get 방식의 데이터 전송모드를 끈다.
                // 그리고 전송을 multipart/form-data 로 설정하여 파일 첨부가 가능하도록 한다.
                $.ajax(
                    {
                        url :'/api/v1/gall',
                        type: saveType === 'add'? 'POST' : 'PUT',
                        dataType: 'json',
                        data : formData,
                        contentType: false, //기본 타입 안씀 (xxx-formed...어쩌고 가 기본타입(GET,POST, DELETE))
                        processData: false, //querystring 금지
                        enctype :'multipart/form-data' //form 데이터전송하는데 file 도 같이 감
                    }
                ).done(function (response){
                    if(response.resultCode === 200){

                        alert('갤러리' +resultMsg+'이 성공하였습니다.');
                        location.href ='/gall/list';
                    }else {
                        alert('갤러리' +resultMsg+' 이실패하였습니다.');
                        return false;
                    }
                })
            }
        }

        function delGallery(){
            //체크 박스 중에서 선택된 것들만 가져온다.
            const imgChks = $('input[name="img_chk"]:checked');

            if (imgChks.length === 0) {
                alert('삭제할 이미지들을 선택하십시오');
                return false;
            }

            const isConfirm = confirm('정말 삭제 하시겠습니까?');
            if(isConfirm){

                const delTargetIds = [];
                $.each(deleteTarget, function(index, obj){
                    delTargetIds.push(obj.value);
                    console.log(obj);
                });

                $.ajax({
                    url: '/api/v1/gall',
                    type: 'delete',
                    dataType: 'json',
                    data: {
                        deleteTarget: delTargetIds.join(',')
                    }//배열[1,2,3,4] -> 문자열 "1,2,3,4"

                }).done(function(response) {

                    if(response.resultCode === 200){
                        alert('갤러리 삭제가 성공하였습니다.');
                        location.href ='/gall/list';
                    }else {
                        alert('갤러리 삭제가 실패하였습니다.');
                        return false;
                    }
                }).fail(function(xhr, status, error) {
                    console.log(error);
                })
            }

        }

        $(document).ready(function(){
            getListData();
        });
    </script>
</div>
</html>