<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/main_layout}">
<div layout:fragment="content">
    <h1>안녕하세요.</h1>
    <form method="post">
        <div>
            <label>text1</label>
            <input type="text" name="param1" th:value="${param1}"/>
        </div>

        <div>
            <label>text1</label>
            <input type="text" name="param2" th:value="${param2}"/>
        </div>
        <button type="submit">전달</button>
    </form>
</div>
</html>
