<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="config">
  <link rel="stylesheet"  href="/webjars/bootstrap/4.6.2/css/bootstrap.min.css">
 
  <script  src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  <script  src="/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>
  
    <!-- 각 content 에서 사용하는 css 를 적용하는 부분  -->
	<th:block layout:fragment="css"></th:block>
  
</th:block>



</html>